@model IEnumerable<book_tracker.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<p>
    <a asp-action="Create" class ="btn btn-primary">New book</a>
</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Most recently read books</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-6 book-info">
                    <div class="col-md-6">
                        <h5>@book.Title</h5>
                        <h6>@book.Author.AuthorsName</h6>
                        <p>@book.Description</p>
                        <h6>@book.BookRatings.First().Review</h6>
                        <a asp-action="Edit" asp-route-id="@book.BookID" class="btn btn-primary">Edit book</a>
                        <a asp-action="Delete" asp-route-id="@book.BookID" class="btn btn-danger">Delete book</a>
                    </div>
                    <div class="col-md-6">
                        <img src="@book.ImageURL">
                    </div>
                </div>
                <hr>
            }
        </div>
    </div>
</div>

